"*":
  core:
    telemetryConsent: "no"
  editor:
    fontSize: 15
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    useEslint: true
    useStylelint: true
  welcome:
    showOnStartup: false
