"*":
  core:
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
  minimap:
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
